
.titulo {
  text-align: center;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;  /* 32px */
  margin: 12px;  /* 12px */
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;  /* 48px */
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;  /* 32px */
  margin-left: auto;  /* hardcode: 332px */
}