
#centralizar {
    text-align: center;
}

.botaoum {
    background-color: rgb(0, 0, 0);
    color: white;
}

.botaodois {
    background-color: hsl(60, 100%, 50%);
}

.botaoum,       /* CLASSES AGRUPADAS */
.botaodois {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}