

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkslategray;
}

.titulo-inicial {
    text-align: center;
    background-color: darkslategray;
    padding-top: 10px;
    color: #e1b35e;
}

.texto-titulo {
    margin: 5px auto 9px;
}

.borda {
    border-bottom: 10px groove #e1b35e;
} 

.div-separacao {
    margin: 70px 10px;
}

.img-card {
    display: inline-block;
    position: relative;
}

.caesar:hover {
    content:url(receitas/SaladaCaesar/caesar-thumb.png);
}

.strogonoff:hover {
    content:url(receitas/Strogonoff/strogonoff-thumb.png);
}

.pudim:hover {
    content: url(receitas/Pudim/pudim-thumb.png);
}

.texto-card{
    position: absolute;
    top: 29%;
    left: 33%;
    background-color: rgba(0, 0, 0, 0.7);
    /*background-color: black;*/
    border-radius: 15px;
    padding: 5px 5px;
    text-align: center;
}

a.link-texto-card {
    color: #e1b35e;
}

.centralizar {
    text-align: center;
}

h1, 
h2,
h4 {
    color: #e1b35e;
}

.img-receita {
    margin-top: 50px;
    max-width: 100%;
    height: auto;
}

.corpo-receitas {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    color: #fff;
}

.borda-receitas {
    border-left: 1px dashed #e1b35e;
    border-right: 1px dashed #e1b35e;
    border-bottom: 1px dashed #e1b35e;
}