

/* corpo e conteúdo das páginas: */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkslategray;
}

h1, 
h2,
h4 {
    color: #e1b35e;
}

.centralizar {
    text-align: center;
}

.corpo-receitas {
    margin: 0 20px 30px 20px;
    color: #fff;
}

.borda-receitas {
    border-left: 1px dashed #e1b35e;
    border-right: 1px dashed #e1b35e;
    border-bottom: 1px dashed #e1b35e;
}

/* Cabeçalho Odin Receitas: */
.titulo-inicial {
    text-align: center;
    background-color: darkslategray;
    padding-top: 10px;
    color: #e1b35e;
}

.texto-titulo {
    margin: 5px auto 9px;
}

.borda {
    border-bottom: 10px groove #e1b35e;
} 

.div-separacao {
    margin: 70px 10px;
}

/* imagens / cards: */
.img-card {
    display: inline-block;
    position: relative;
}

.img-receita {
    max-width: 100%;
    height: auto;
}

.caesar:hover {
    content:url(receitas/SaladaCaesar/caesar-thumb.png);
}

.strogonoff:hover {
    content:url(receitas/Strogonoff/strogonoff-thumb.png);
}

.pudim:hover {
    content: url(receitas/Pudim/pudim-thumb.png);
}

.texto-card{
    position: absolute;
    top: 29%;
    left: 33%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 5px 5px;
    text-align: center;
    border-bottom: 2px solid #e1b35e;
    border-right: 1px solid #e1b35e;
}

a.link-texto-card {
    color: #e1b35e;
}

/* botões: */
a.botao{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px;
    background-color: darkslategray;
    border: 2px solid #e1b35e;
    border-radius: 10%;
    color: #e1b35e;
    text-decoration: none;
    font-weight: 900;
}

a.botao:hover {
    background-color: #e1b35e;
    color: darkslategray;
}