

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e1b35e;
    background-color: darkslategray;
}

.titulo-inicial {
    text-align: center;
    background-color: darkslategray;
    padding-top: 10px;
    color: #e1b35e;
}

.texto-titulo {
    margin: 5px auto 9px;
}

.borda {
    border-bottom: 10px groove #e1b35e;
} 

.div-separacao {
    margin: 70px 10px;
}

.img-card {
    display: inline-block;
    position: relative;
}

.caesar:hover {
    content:url(receitas/SaladaCaesar/caesar-thumb.png);
}

.strogonoff:hover {
    content:url(receitas/Strogonoff/strogonoff-thumb.png);
}

.texto-card{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    /*background-color: black;*/
    border-radius: 15px;
    padding: 5px 5px;
    text-align: center;
}

a.link-texto-card {
    color: #e1b35e;
}