
/* CSS com seletores */

.h1 {
    text-align: center;
}

.paragrafo {
    background-color: #ff0000;
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

#div1 {
    color: #0000ff;
    font-size: 36px;
}

.textao {
    font-size: 24px;
}

#div2 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}