@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* propriedades mais utilizadas */
.flex {
    display: flex;
}

.flex-e-column {
    display: flex;
    flex-direction: column;
}

.centraliza {
    justify-content: center;
    align-items: center;
}

.grow-e-shrink {
    flex: 1;
}

/* body e seletores por tipo (<ul>, <a>, button e links os botoes) */
body {
    margin: 0;
    font-family: roboto, sans-serif;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #E5E7EB;
}

button {
    padding: 4px 16px;
    border-radius: 6px;
    background-color: #3882f6;
    border: 1px solid #3882f6;
}

a.link-botoes {
    font-size: 14px;
    font-weight: 700;
    color: white;
}

/* header topo */
.header {
    padding-top: 10px;
    justify-content: space-around;
    background-color: #1F2937;
}

.links-header {
    gap: 14px;
}

.logo {
    height: 58px;
}

/* hero */
.hero, footer { /* compartilhado com footer */
    background-color: #1F2937;
    color: white;
    max-height: 233px;
}

.conteiner-hero {
    max-width: 900px;
    justify-content: space-around;
    padding: 0 10px;
}

.textos-hero {
    gap: 10px;
    align-items: flex-start;
}

.titulo-hero {
    font-size: 28px;
    font-weight: 900;
    color: #F9FAF8;
}

.texto-secundario-hero {
    font-size: 15px;
    color: #E5E7EB;
}

.img-hero {
    max-height: 191px;
    max-width: 100%;
    height: auto;
}

/* meio - trilhas */
.meio {
    padding: 10px;
    max-height: 245px;
}

.header-meio,
.texto-meio {
    margin-bottom: 10px;
}

.header-meio {
    font-size: 24px;
    font-weight: 600;
}

#caixa{
    padding: 47px;
    border-radius: 6px;
    background-color: #1F2937;
    border: 2px solid #3882f6;
}

.caixas-meio {
    gap: 83px;
}

.imgs-caixas {
    background-size: cover; /* imagem cobre todo o conteiner */
    background-repeat: no-repeat;   /* evita tiling (imagem ser repetida (ficar "pulando") na pagina) */
    background-position: center;    /* centraliza */
}

.fundamentos {
    background-image: url(images/fundamentos-odin.png);
}

.javascript {
    background-image: url(images/JavaScript.png);
}

.ruby {
    background-image: url(images/ruby.png);
}

.texto-caixa {
    font-style: italic;
    margin: 2px 0px;
}

.botao-explorar {
    padding: 4px 11px;
}

/* frase motivacional */
.motivacional {
    background-color: #E5E7EB;
}

.nome {
    justify-content: flex-end;
}

/* footer */
footer {
    max-height: 55px;
}