@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto, sans-serif;
    min-height: 100vh;
}

.header,
ul {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.header {
    justify-content: space-around;
    height: 60px;
    background-color: #1F2937;
}

ul {
    list-style: none;
    gap: 14px;
    padding: 0;
    margin: 0;
    flex: 0 1 auto;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #E5E7EB;
}

.logo {
    height: 58px;
}

/* body, div, ul, li {
    border: 1px solid red;
} */

.hero, .mid, .inspiracao, .comecar, footer {
    display: flex;
    height: 200px;
    justify-content: space-around;  /* ?! */
    align-items: center;
}

.hero, footer {
    background-color: #1F2937;
    color: white;
}

.inspiracao {
    background-color: #E5E7EB;
}

.nome {
    display: flex;
    justify-content: flex-end;
}

.comecar {
    height: 180px;
}

footer {
    height: 55px;
}