@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.flex {
    display: flex;
}

.flex-e-column {
    display: flex;
    flex-direction: column;
}

.centraliza {
    justify-content: center;
    align-items: center;
}

.grow-e-shrink {
    flex: 1;
}

body {
    margin: 0;
    font-family: roboto, sans-serif;
    min-height: 100vh;
}

.header,
ul {
    padding-top: 10px;
}

.header {
    justify-content: space-around;
    background-color: #1F2937;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-header {
    gap: 14px;
}
a {
    text-decoration: none;
    font-size: 16px;
    color: #E5E7EB;
}

.logo {
    height: 58px;
}

/* body, div, ul, li {
    border: 1px solid red;
} */

.hero, footer {
    background-color: #1F2937;
    color: white;
}

.motivacional {
    background-color: #E5E7EB;
}

.nome {
    justify-content: flex-end;
}

footer {
    max-height: 55px;
}

.textos-hero {
    gap: 10px;
    align-items: flex-start;
}

.img-hero {
    max-height: 191px;
    max-width: 100%;
    height: auto;
}

.titulo-hero {
    font-size: 28px;
    font-weight: 900;
    color: #F9FAF8;
}

.texto-hero {
    font-size: 15px;
    color: #E5E7EB;
}

.entrar {
    padding: 4px 16px;
    border-radius: 6px;
    background-color: #3882f6;
    border: 1px solid #3882f6;
}

a.link-entrar {
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.conteiner-hero {
    max-width: 900px;
    justify-content: space-around;
    padding: 0 20px;
}

.meio {
    padding: 20px;
}

.header-meio {
    font-size: 19px;
    font-weight: 600;
}