@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto, sans-serif;
}

.header,
ul {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.header {
    justify-content: space-around;
    height: 30px;
    background-color: #1F2937;
}

ul {
    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

/* body, div, ul, li {
    border: 1px solid red;
} */