/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex; /* flex */
  justify-content: space-between; /* mudado para space-between - espaço entre itens e bordas */
  padding: 8px; /* posso usar apenas um padding único no conteiner pai ao inves de repetir em cada filho (esquerda e direita) */
  gap: 16px; /* espaço entre elementos do lado esquerdo e elementos do lado direito */
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
  display: flex; /* flex */
  padding: 0;  /* removendo padding-inline-start: 40; */
  gap: 16px;  /* espaço entre itens com links */
  align-items: center; /* alinha elementos verticalmente dentro do conteiner direito*/
}

.esquerda,  /* classes compartilham mesmas propriedades */
.direita {
  display: flex; /* flex */
  gap: 16px;  /* espaço entre logo e links */
  align-items: center; /* centraliza verticalmente dentro dos containers */
}