@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh; /* elemento fica com altura de 100% do viewport. vh = viewport height */
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px 13px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 14px;
}

a {
  text-decoration: none;
  color: #6c6c6c;
}

/* div {
  border: 1px solid red;
} */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 0px 14px;
}